//todo should be added by you after integrating this Flutter project with Firebase
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>dummy-g7opjar3uhjqcg10d1llocqr9cd49uvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893211332380-g7opjar3uhjqcg10d1llocqr9cd49uvo</string>
	<key>API_KEY</key>
	<string>dummy-dummy</string>
	<key>GCM_SENDER_ID</key>
	<string>893211332380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oculus.techracev.techracev</string>
	<key>PROJECT_ID</key>
	<string>dummy</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893211332380:ios:0ead96e61a4d41d77ff4d9</string>
	<key>DATABASE_URL</key>
	<string>https://dummy-default-rtdb.firebaseio.com</string>
</dict>
</plist>